<!DOCTYPE html>
<html>
<head>
  <title> Examples </title>
</head>
<body>
<h1>Examples</h1>
<ul class="examples-list">
  <% for(var i = 0;i < examples.length;i++){ %>
  <li class="examples-item">
    <a href="/<%= examples[i] %>.html">
      <%= examples[i] %>
    </a>
  </li>
  <% } %>
</ul>
</body>
</html>
